:root {
    --control-text-color: #777;
}

h1,
.h1,
.f1 {
    font-size: 2rem;
    line-height: 2.5rem;
}

h2,
.h2,
.f2 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h3,
.h3,
.f3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

p,
.p,
.f4,
h4,
h5,
h6,
dl,
ol,
ul,
pre[cid],
div[cid],
#typora-source {
    font-size: 1.125rem;
    line-height: 1.5rem;
}

h4 {
    font-size: 1.13rem;
}

body {
    font-family: Merriweather, "PT Serif", Georgia, "Times New Roman", STSong, serif;
    line-height: 1.5rem;
    font-weight: 400;
}

#write {
    max-width: 914px;
    color: rgb(51, 51, 51);
}

img {
    width: auto;
    max-width: 100%;
}

body {
    font-size: 1.5rem;
    box-sizing: border-box;
}

.ty-table-edit {
    background: rgb(237, 237, 237);
}

table {
    width: 100%;
    font-size: 1.125rem;
}

table>thead>tr>th,
table>thead>tr>td,
table>tbody>tr>th,
table>tbody>tr>td,
table>tfoot>tr>th,
table>tfoot>tr>td {
    padding: 12px;
    line-height: 1.2;
    vertical-align: top;
    border-top: 1px solid rgb(51, 51, 51);
}

table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid rgb(51, 51, 51);
}

table>caption+thead>tr:first-child>th,
table>caption+thead>tr:first-child>td,
table>colgroup+thead>tr:first-child>th,
table>colgroup+thead>tr:first-child>td,
table>thead:first-child>tr:first-child>th,
table>thead:first-child>tr:first-child>td {
    border-top: 0px;
}

table>tbody+tbody {
    border-top: 2px solid rgb(51, 51, 51);
}

p {
    font-weight: 300;
    line-height: 1.5;
}

abbr {
    border-bottom: 1px dotted black;
    cursor: help;
}

pre,
code {
    font-family: Menlo, Monaco, "Courier New", monospace;
}

code,
.md-fences {
    color: rgb(122, 122, 122);
}

.md-fences {
    padding: 0.5rem 1.125em;
    margin-bottom: 0.88em;
    font-size: 1rem;
    border: 1px solid rgb(122, 122, 122);
}

blockquote {
    padding: 1.33em;
    font-style: italic;
    border-left: 5px solid rgb(122, 122, 122);
    color: rgb(85, 85, 85);
}

blockquote em {
    color: rgb(0, 0, 0);
}

blockquote footer {
    font-size: 0.85rem;
    font-style: normal;
    background-color: rgb(255, 255, 255);
    color: rgb(122, 122, 122);
    border-color: transparent;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.2;
    margin: 1em 0px 0.5em;
}

@media screen and (min-width: 48em) {
    .h1,
    h1 {
        font-size: 3.25rem;
    }
    .h2,
    h2 {
        font-size: 2.298rem;
    }
    .h3,
    h3 {
        font-size: 1.625rem;
    }
    .h4,
    h4 {
        font-size: 1.3rem;
    }
    #write>h4.md-focus::before,
    #write>h5.md-focus::before,
    #write>h6.md-focus::before {
        top: 1px;
    }
    .p,
    p,
    li {
        font-size: 1.25rem;
        line-height: 1.8;
    }
    table {
        font-size: 1.25rem;
    }
}

@media (max-width: 48em) {
    blockquote {
        margin-left: 1rem;
        margin-right: 0px;
        padding: 0.5em;
    }
    .h1,
    h1 {
        font-size: 2.827rem;
    }
    .h2,
    h2 {
        font-size: 1.999rem;
    }
    .h3,
    h3 {
        font-size: 1.413rem;
    }
    .h4,
    h4 {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 64em) {
    .h1,
    h1 {
        font-size: 4.498rem;
    }
    .h2,
    h2 {
        font-size: 2.29rem;
    }
    .h3,
    h3 {
        font-size: 1.9rem;
    }
    .h4,
    h4 {
        font-size: 1.591rem;
    }
    #write>h4.md-focus::before {
        top: 4px;
    }
}

a {
    color: rgb(70, 63, 92);
    text-decoration: underline;
}

#write {
    padding-top: 2rem;
}

#write pre.md-meta-block {
    min-height: 35px;
    padding: 2000px 1em 10px 0px;
    white-space: pre;
    border-width: 0px 30px;
    border-top-style: initial;
    border-bottom-style: initial;
    border-top-color: initial;
    border-bottom-color: initial;
    border-image: initial;
    border-left-style: solid;
    border-left-color: rgb(248, 248, 248);
    border-right-style: solid;
    border-right-color: rgb(248, 248, 248);
    width: 100vw;
    max-width: calc(100% + 60px);
    margin-left: -30px;
    margin-bottom: 2em;
    margin-top: -2010px;
    line-height: 1.5em;
    color: rgb(122, 122, 122);
    background-color: rgb(250, 250, 250);
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    clear: both;
    font-size: 1.125rem;
}

.md-image>.md-meta {
    color: rgb(70, 63, 92);
}

.footnotes {
    font-size: 1.1rem;
}

.md-tag {
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
}

.code-tooltip {
    background: white;
}

.code-tooltip-content {
    font-size: 1.1rem;
}

.task-list {
    padding-left: 0px;
}

.md-task-list-item {
    padding-left: 34px;
}

.md-task-list-item>input {
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    -webkit-appearance: initial;
    top: -0.5rem;
    margin-left: -1.6em;
    margin-top: calc(1rem - 7px);
    border: none;
}

.md-task-list-item>input:focus {
    outline: none;
    box-shadow: none;
}

.md-task-list-item>input::before {
    border: 1px solid rgb(85, 85, 85);
    border-radius: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background: rgb(255, 255, 255);
    content: " ";
    transition: background-color 200ms ease-in-out;
    display: block;
}

.md-task-list-item>input:checked::before,
.md-task-list-item>input[checked]::before {
    background: rgb(51, 51, 51);
    border-width: 2px;
    display: inline-block;
    transition: background-color 200ms ease-in-out;
}

.md-task-list-item>input:checked::after,
.md-task-list-item>input[checked]::after {
    opacity: 1;
}

.md-task-list-item>input::after {
    transition: opacity 0.05s ease-in-out;
    transform: rotate(-45deg);
    position: absolute;
    top: 0.4375rem;
    left: 0.28125rem;
    width: 0.9375rem;
    height: 0.5rem;
    border-width: 0px 0px 3px 3px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-image: initial;
    border-top-style: initial;
    border-top-color: initial;
    border-right-style: initial;
    border-right-color: initial;
    content: " ";
    opacity: 0;
}

.md-tag {
    color: inherit;
}

.md-toc:focus .md-toc-content {
    margin-top: 19px;
}

#typora-sidebar {
    font-size: 1rem !important;
}

.html-for-mac #typora-sidebar {
    background-color: white;
}

.outline-content li,
.outline-content ul {
    font-size: 1rem !important;
}

.outline-title {
    line-height: inherit;
    margin-top: 10px;
}

.outline-expander {
    width: 18px;
}

.outline-expander::before {
    content: "+";
    font-family: inherit;
    color: rgb(108, 108, 108);
    font-size: 1.5rem;
    top: 0.1rem;
}

.outline-expander:hover::before {
    content: "+";
}

.outline-item-open>.outline-item>.outline-expander::before {
    content: "-";
}

#typora-source {
    font-family: Courier, monospace;
    color: rgb(106, 106, 106);
}

.os-windows #typora-source {
    font-family: inherit;
}

.cm-s-typora-default .cm-header,
.cm-s-typora-default .cm-property,
.CodeMirror.cm-s-typora-default div.CodeMirror-cursor {
    color: rgb(66, 139, 202);
}

.cm-s-typora-default .cm-atom,
.cm-s-typora-default .cm-number {
    color: rgb(119, 119, 119);
}

.preference-item-hint {
    margin-top: 16px;
}

.md-diagram-panel {
    margin-top: 24px;
    margin-left: -1.2em;
}

.md-mathjax-midline {
    background: rgb(250, 250, 250);
}

.enable-diagrams pre.md-fences[lang="sequence"] .code-tooltip,
.enable-diagrams pre.md-fences[lang="flow"] .code-tooltip,
.enable-diagrams pre.md-fences[lang="mermaid"] .code-tooltip {
    bottom: -3.4em;
}

.dropdown-menu .divider {
    border-color: rgb(229, 229, 229);
}

.typora-export li,
.typora-export p,
.typora-export,
.footnote-line {
    white-space: normal;
}