
.wx {
    width: 990px;
    margin: 0 auto;
}

.order {
    position: relative;
    *zoom: 1
}

.order .o-left {
    float: left;
    width: 640px;
    padding: 37px 102px 32px 0;
}

.order.o-init .o-left {
    padding-left: 0;
    transition: all .15s ease-in-out;
}

.order .o-title {
    line-height: 26px;
    height: 26px;
    overflow: hidden;
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.order .o-right {
    float: right;
    width: 190px;
    padding: 37px 0 10px 10px;
    overflow: hidden;
}

.order .o-price {
    text-align: right;
    line-height: 26px;
    margin: 0;
    padding: 0;
}

.order .o-price em {
    vertical-align: bottom;
    font-style: normal;
}

.order .o-price strong {
    font-size: 18px;
    vertical-align: bottom;
    color: #e31613;
    margin: 0 3px;
    padding: 0;
    font-weight: bold;
}

.payment {
    background-color: #fff;
    padding: 12px 30px;
    box-shadow: 0 6px 32px rgba(0, 0, 0, .13);
    margin-bottom: 50px;
}

.p-wx-bd, .pay-wx {
    zoom: 1;
    margin: 0;
    padding: 0;
}

.p-wx-bd:after, .pay-wx:after {
    display: table;
    content: "";
    clear: both
}

.p-wx-bd {
    padding-left: 130px;
    margin-bottom: 30px
}

.p-wx-hd {
    margin-bottom: 20px;
    font-size: 18px;
}

.p-wx-box {
    float: left;
    width: 300px;
    margin: 0;
    padding: 0;
}

.pw-box-hd {
    margin-bottom: 20px;
    width: 298px;
    height: 298px;
}

.pw-box-hd img {
    width: 298px;
    height: 298px;
    background: url(../img/pc_loading.gif) center center no-repeat;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.pw-box-ft {
    padding: 8px 0 8px 125px;
    background: #ff7674 url(../img/pc_scan.png) 50px 8px no-repeat;
    margin: 0;
}

.pw-box-ft p {
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    font-weight: 700;
    padding: 0;
}

.p-wx-phone {
    float: left;
    width: 379px;
    height: 421px;
    padding-left: 50px;
    margin-top: -20px;
    background: url(../img/pc_phone-icon.png) 50px 0 no-repeat;
    display: block;
}

.payment-change .pc-wrap {
    display: block;
    height: 60px;
    line-height: 56px;
    padding: 0 20px;
    transition: all .1s;
}

.payment-change > a {
    color: #67a4ff;
    /*text-decoration: none;*/
    margin: 0;
}

.payment-change .pc-wrap .pc-wx-left {
    float: left;
    margin-right: 15px;
    font-style: normal;
    font-size: 22px;
    width: 20px;
    text-align: center;
    color: #2fa1dd;
    padding: 0;
}

.payment-change .pc-wrap strong {
    color: #67a4ff;
    margin-right: 30px;
    font-size: 14px;
    float: left;
    cursor: pointer;
    padding: 0;
    font-weight: bold;
}

.payment-pc a {
    display: block;
    width: 100px;
    border: 1px solid #CCC;
    background: #67a4ff;
    float: left;
    margin-left: 246px;
}

/* mobile */

.course {
    width: 100%;
    background: #fff;
    padding-top: 32px;
}

.course_in {
    width: 90%;
    margin: 0 auto;
}

/*.title {*/
    /*font-size: 38px;*/
    /*font-weight: bold;*/
    /*text-align: center;*/
    /*margin-bottom: 35px;*/
/*}*/

.course_box {
    width: 100%;
    display: flex;
    border-radius: 10px;
    margin-bottom: 70px;
    justify-content: center;
    -moz-box-shadow: 2px 5px 20px rgba(119, 119, 119, .3);
    -webkit-box-shadow: 2px 5px 20px rgba(119, 119, 119, .3);
    box-shadow: 2px 5px 20px rgba(119, 119, 119, .3);
}

.course_box_l {
    position:absolute;
    margin: 15px 0;
}

.course_box_r {
    border-radius: 0 10px 10px 0;
}

.course_box_l > h1 {
    line-height: 26px;
    height: 26px;
    color: #f31e0e;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.course_box_r {
    padding: 50px;
}

.course_box_r > h1 {
    color: #333;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.course_box_r > ul {
    padding-left: 14px;
    margin-bottom: 22px;
}

.course_box_r > ul > li {
    list-style: disc;
    color: #999;
}

.course_box_r > ul > li > span {
    font-size: 14px;
    color: #666;
}

.course_box_r .f-box {
    display: flex;
    margin-top: 65px;
    justify-content:center;
}

.course_box_r div > a {
    width: 130px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    background: #ff5c55;
    border-radius: 27px;
}

/* H5 */

.course_box_r .h-problem {
    margin-top: 15px;
}
.course_box_r .h-problem a {
    color:#337ab7;
}

.course_box_r .h-done {
    margin-top: 20px;
    margin-bottom: 0;
}