<!DOCTYPE>
<html>
  <head>
    <title></title>
    <script src="/static/jquery-3.2.0.js"></script>

  </head>
  <body>
      <p><input type="text" name="username" id="username" placeholder="请输入用户名"></p>
      <p id="show"></p>
      <p><input type="password" name="pwd" id="pwd" placeholder="请输入密码"></p>
      <p><input type="button" name="btn" id="btn" value="提交"></p>
<script>
      $("#btn").click(function () {
          var username = $("input[name='username']").val();
          var pwd = $("input[name='pwd']").val();
          $.ajax({
              type:"post",
              url:"/userinfo/loginh",
              datatype:'json',
              data:{
                  username:username,
                  pwd:pwd,
              },
              success:function(datas){

                  var datashow = JSON.parse(datas);
                  if(datashow["result"]==false){
                      $("#show").text(datashow['error'])
                  }else {

                  }



              },
              error:function (error) {
                  console.log(error);
              }
          });
      });

    </script>
  </body>
</html>